services:
  postgres:
    image: postgres:15
    container_name: my_postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: mypassword
      POSTGRES_DB: app_ga
    ports:
      - "127.0.0.1:3001:3001"

    volumes:
      - data:/var/lib/postgresql/data

volumes:
  data:
